* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: #495057;
  margin: 0 auto;
}

a,
a:link,
a:visited {
  text-transform: uppercase;
  text-decoration: none;
}

.bg-grey {
  background: #f7f7f7;
}

.bg-gray {
  background: linear-gradient(90deg, #f7f7f7 50%, #f1f3f5 50%);
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  /* padding: 30px 50px; */
}

#nav-bar {
  text-align: center;
}

/* Start Phần banner */
#banner {
  height: 100vh;
  position: relative;

  /* Tạo gradien tối trên hình nền */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.banner-container {
  position: absolute;
  /* In relation to PARENT size */
  top: 15%;
  left: 50%;

  /* In relation to ELEMENT size */
  transform: translate(-50%, 0);

  text-align: center;
}
/* End Phần banner */

/* Start Phần Nav-bar */
#nav-bar .container {
  position: relative;
}

#nav-bar .container a:link,
a:visited {
  display: inline-block;
  padding: 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-left: 1px solid #dee2e6;
  color: black;
}

.avatar {
  padding-left: 150px;
  padding-right: 150px;
}

.default-avatar {
  width: 175px;
  height: 175px;
  position: absolute;
  /* In relation to PARENT size */
  top: 50%;
  left: 50%;

  /* In relation to ELEMENT size */
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid white;
}

.icon {
  color: #4dabf7;
  padding-left: 8px;
}
/* End Phần banner */

/* Start Phần Mục tiêu nghề nghiệp */
#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 36px;
}

#about .container h1 {
  padding-bottom: 24px;
}

#about .container p {
  line-height: 1.6;
}

#about .container li {
  list-style-type: none;
  line-height: 2;
}

#target {
  padding-left: 24px;
  padding-right: 24px;
}

#personal-info {
  padding-right: 24px;
  padding-left: 24px;
}

#personal-info span {
  font-weight: bold;
}

.contact {
  padding-top: 24px;
}
/* End Phần Mục tiêu nghề nghiệp */

/* Start Phần Thông tin nghề nghiệp */
#job-info .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  column-gap: 24px;
  row-gap: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.job-info-item {
  height: 100%;
  justify-items: center;
  padding: 24px;
  margin-top: 24px;
  border: 1px solid #dee2e6;
}

.hien-tai {
  background-color: #4dabf7;
  color: #fff;
  padding: 2px 16px;
  border-radius: 12px;
}

/* Start Vẽ bullet point */
.job-info-item ul {
  list-style-type: none;
}

.job-info-item li {
  position: relative;
}

/* Vẽ bullet point */
.job-info-item li:after {
  content: "•";
  font-size: 32px;
  color: #4dabf7;
  position: absolute;
  left: -28px;
  top: -12px;
}
/* End Vẽ bullet point */

.job-info-header {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  justify-content: center;
}

.info-content {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-right: 24px;
}

.info-content-item {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-content-label {
  margin-top: 12px;
}

.info-content i {
  border: 2px solid #4dabf7;
  border-radius: 50%;
  font-size: 1.5em;
  height: 54px;
  width: 54px;
  color: #4dabf7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic-icon {
  font-size: 48px;
  color: #adb5bd;
}

.job-info-item ul {
  padding-left: 24px;
}

.job-info-header {
  margin-top: 24px;
  margin-bottom: 40px;
}

.job-info-content .name {
  font-weight: bold;
  margin-bottom: 8px;
}

.job-info-content .time {
  font-style: italic;
  margin-bottom: 12px;
}

.job-info-content .description {
  line-height: 1.5;
  margin-bottom: 48px;
}

/* Start Ngôn ngữ + Kỹ năng */
.language-content-item {
  margin-bottom: 24px;
}

.skill-content-item {
  margin-bottom: 24px;
}

.blue {
  background: #4dabf7;
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  width: 45px;
}

.grey {
  background: #ced4da;
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  width: 45px;
}
/* End Ngôn ngữ */

/* End Phần Thông tin nghề nghiệp */

/* Start chứng chỉ */
.section-title {
  padding-top: 40px;
  padding-bottom: 12px;
}

/* .certificate-item img {
  width: 200px;
} */

.certificate {
  font-size: 14px;

  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #d6c08d;
}

.certificate-item {
  margin-top: 24px;
  margin-bottom: 40px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 12px;
  border-right: 1px solid #d6c08d;
}

.certificate-item:last-child {
  margin-bottom: 40px;
  border-right: none;
}

.certificate:last-child {
  border-bottom: none;
}

.certificate-name {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 12px;
}

/* End chứng chỉ */

/* Start Dự án */
.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

#project .container h1 {
  padding-bottom: 24px;
}

.project-item {
  border: 1px solid #dee2e6;
}

.project-item img {
  width: 100%;
  margin-bottom: -5px;
}

.project-item-name {
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px;
  border-bottom: 1px solid #dee2e6;
}

.project-item-name a,
a:link,
a:visited {
  color: #495057;
}

.project-item-time {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
}

.project-item-time span {
  padding-left: 20px;
}

.item-year {
  width: fit-content;
  background-color: #4dabf7;
  padding: 6px 16px;
  border-radius: 24px;
  color: #fff;
  text-align: center;
}

.project-item-description table {
  border-collapse: collapse;
}

.project-item-description td {
  padding: 8px;
  vertical-align: top;
}

.project-item-description tr {
  border-bottom: 1px solid #dee2e6;
}

.project-item-description tr:last-child {
  border-bottom: none;
}

.project-item-description td:first-child {
  width: 30%;
}

#project {
  margin-bottom: 48px;
}
/* End Dự án */

/* Start footer */
#footer .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

#footer .container li {
  list-style-type: none;
  padding: 24px;
}

#footer .container a:link,
a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#footer .container li a {
  color: #495057;
}

.ic-footer {
  font-size: 48px;
  color: #4dabf7;
}
/* End footer */

/* Digital CV */
/* GOALS */
.bd-bottom {
  border-bottom: 1px solid #ccc;
}

/* Timeline */
.timeline-icon {
  width: 36px;
  height: 36px;
  font-size: 20px;
  text-align: center;
  background: #b197fc;
  color: #fff;
  border: 2px solid #999ea4;
  border-radius: 50%;
}

.timeline-bd-bottom {
  padding-bottom: 10px;
  border-bottom: 1px dashed #4dabf7;
}

/* NOTE: Do bản thân chưa có CHỨNG CHỈ và DỰ ÁN nên chỉ xây dựng theo như thiết kế. Xin cám ơn. */

@media (min-width: 992px) {
  .project-item-time span {
    padding-left: 10px;
  }
  /* Digital CV */

  .digital-cv {
    font-size: 14px;

    display: grid;
    grid-template-columns: 47% 25% 25%;
  }

  .timeline {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .bd-bottom {
    border-bottom: 1px solid #ccc;
  }
}
