@media (min-width: 768px) and (max-width: 991.98px) {
  /* Title */
  .section-title {
    padding-left: 20px;
  }

  /* Avatar */
  .avatar {
    display: none;
  }

  /* Navbar */
  #nav-bar .container {
    width: 100vw;
  }

  #nav-bar .container a:link,
  a:visited {
    padding: 20px 12px;
  }

  /* Thông tin */
  #about .container {
    width: 100vw;
    padding-bottom: 0;
  }

  #personal-info {
    background: #f1f3f5;
    padding-bottom: 40px;
  }

  #job-info .container {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
  }

  /* Chứng chỉ */
  #certificate .container {
    width: 100vw;
  }

  .certificate-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Dự án */
  #project .container {
    width: 100vw;
  }

  .project-item-name a,
  a:link,
  a:visited {
    color: #495057;
  }

  .project-item-time {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;

    font-size: 80%;
  }

  .item-job {
    grid-column: 2 / -1;
  }

  /* Footer */
  #footer .container ul {
    padding: 20px;
  }

  #footer .container li {
    padding: 0;
  }

  #footer .container li a {
    color: #495057;
  }

  .ic-footer {
    font-size: 32px;
    margin-left: 20px;
  }

  /* Digital CV */
  .digital-cv {
    display: grid;
    grid-template-columns: 1fr;
  }

  .goals {
    order: 1;
  }

  .scope {
    order: 2;
  }

  .team {
    order: 3;
  }

  .primary {
    order: 4;
  }

  .timeline {
    order: 5;
  }
}
